.margin-bottom {
	margin-bottom:15px;
}

.blackfont {
  color: black;
}

.font-red {
	color:red;
}

.font-lightgrey {
	color:lightgrey;
}

.font-grey {
	color:grey;
}

.background-grey {
	background-color:grey;
}

.margin-left {
	margin-left:15px;
}

.icon-nolink {
  
  color: black;

  :link {
      color: black;
  }

  :visited {
      color: black;
  }

  :hover {
      color: black;
  }

  :active {
      color: black;
  }

}