<div>
  <h2 class="page-header blackfont">Enter API Keys and View IDs</h2>
  <form (submit)="onAnalyticsSubmit()">
    <div class="form-group">
      <label>Google Analytics API key</label>
      <input type="text" [(ngModel)]="bookTitle" name="apiKey" class="form-control margin-bottom">
      <label>Analytics View ID </label>
      <input type="text" [(ngModel)]="authorName" name="viewId" class="form-control margin-bottom">
      <input type="submit" class="btn btn-default" value="Submit">
    </div>
  </form>

</div>