<div id = "wrapper">
  <h2>Enter Month</h2>
</div>

<form (submit)="onIdSubmit()">
  <div class="form-group">
    <div id = "wrapper">
        <p> Start &nbsp; </p>
        <input type="text" [(ngModel)]="startDate" name="startDate" class="form-control margin-bottom">
    </div>
    <div id = "wrapper">
       <p>End &nbsp; </p>
       <input type="text" [(ngModel)]="endDate" name="endDate" class="form-control margin-bottom">
    </div>
    <div id = "wrapper">
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </div>
</form>

