p {
  font-size: 18px;
  font-family: sans-serif;
}

h2 {
  font-size: 28px;
  font-family: sans-serif;
  color: black;
}

.button-style {
  background-color: #fff;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.black-border {
  border:1px solid black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr, 1fr));
  background-color: #eee;
}

.box {
  background-color: #ddd;
  border-radius: 1px;
  padding: 10px;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 1px solid red;*/
}

.flex-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  flex-wrap: wrap;
}

.flex-item1 {
  padding: 2px;
  margin: 2px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  line-height: 30px;
}

.flex-item2 {
  padding: 5px;
  margin: 5px;
  color: black;
  font-weight: bold;
  font-size: 3em;
  text-align: left;
}

.row {
    width: auto;
    border: 1px solid blue;
}

.flex-item {
  padding: 5px;
  margin: 10px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border: 1px solid green;
}

.d3-chart {
  width: 600px;
  height: 0px;
}

.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}

.d3-chart .axis text {
  fill: #999;
}

.grey-font {
  color: #868685;
}

.blue-font {
  color: #3BB9FF;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
    margin-right: 2px;
}