<div *ngIf="showDataNews">

  <hr>
  <div class = "flex-container1">
    <div class = "flex-item1">
      <h2>CMAJ News - Top Sources</h2>
    </div>
  </div>
  <hr>

   <div class = "flex-container1">
    <div class = "flex-item1" id="chartTopSourcesNews"> 
      <div class = "d3-chart" id = "chartTopSourcesNews" #chartTopSourcesNews></div>
    </div>
    <div class = "flex-item2">
      <div *ngFor="let topSource of topSources; let i = index">
        <div><p [style.color]="topSource.color"> {{ topSource.source }} - {{ topSource.views }}  </p></div>
      </div>
    </div>
  </div>

  <hr>
  <div class = "flex-container1">
    <div class = "flex-item1">
      <h2>CMAJ News - Monthly Pageviews</h2>
    </div>
  </div>
  <hr>

  <div class = "flex-container1">
    <div class = "flex-item1" id="chartTopPageviewsNews"> 
      <div class = "d3-chart" id = "chartTopPageviewsNews" #chartTopPageviewsNews></div>
    </div>
  </div>


  <hr>
  <div class = "flex-container1">
    <div class = "flex-item1">
      <h2>CMAJ News - Top Devices</h2>
    </div>
  </div>
  <hr>

  <div class = "flex-container1">
    <div class = "flex-item1" id="chartTopDevicesNews"> 
      <div class = "d3-chart" id = "chartTopDevicesNews" #chartTopDevicesNews></div>
    </div>
    <div class = "flex-item2">
      <div *ngFor="let topDevice of topDevices; let i = index">
        <div><p [style.color]="topDevice.color"> {{ topDevice.device }} - {{ topDevice.views }}  </p></div>
      </div>
    </div>
  </div>

  <hr>
  <div class = "flex-container1">
    <div class = "flex-item1">
      <h2>CMAJ News - Top Pages</h2>
    </div>
  </div>
  <hr>

  <div class = "flex-container1">
    <div class = "flex-item2">
      <div *ngFor="let topPage of topPages; let i = index">
        <div><p><span class="blue-font"> {{ topPage.views }} </span></p></div>
        <div><p>{{ topPage.url }}</p></div>
      </div>
    </div>
  </div>


  <hr>
  <div class = "flex-container1">
    <div class = "flex-item1">
      <h2>CMAJ News - Top Countries</h2>
    </div>
  </div>
  <hr>


  <div class = "flex-container1">
    <div class = "flex-item1" id="chartTopCountriesNews"> 
      <div class = "d3-chart" id = "chartTopCountriesNews" #chartTopCountriesNews></div>
    </div>
    <div class = "flex-item2">
      <div *ngFor="let topCountry of topCountries; let i = index">
        <div><p [style.color]="topCountry.color"> {{ topCountry.country }} - {{ topCountry.views }}  </p></div>
      </div>
    </div>
  </div>

</div>

